page-cities {
    .searchbar{
        display: flex;
        padding: 0.8em;
        border: 1px solid rgba(0, 0, 0, 0.06);
        background-color: rgba(0, 0, 0, 0.06);

        input{
            flex: 1;
            border: none;
            background-color: transparent;
        }

        ion-icon{
            font-size: 1.8em;
            margin-left: 0.3em;
        }
    }
}
