/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
!/web/upload/provider
/web/upload/provider/*
!/web/upload/provider/.gitkeep
!/web/upload/user
/web/upload/user/*
!/web/upload/user/.gitkeep
!/web/upload/category
/web/upload/category/*
!/web/upload/category/.gitkeep
!/web/upload/ad
/web/upload/ad/*
!/web/upload/ad/.gitkeep
!/web/upload/payment-method
/web/upload/payment-method/*
!/web/upload/payment-method/.gitkeep
!/web/upload/award
/web/upload/award/*
!/web/upload/award/.gitkeep