<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>Agendamentos <img src="assets/imgs/icon.png" /></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refreshScheduling($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="!scheduling.length" text-center>
    <ion-card-content>Não há agendamentos</ion-card-content>
  </ion-card>

  <ion-list *ngIf="scheduling.length" padding>
    <ion-item *ngFor="let s of scheduling" (click)="navCtrl.push('SchedulingDetailsPage', {id: s.id})">
      <ion-avatar item-start>
        <img *ngIf="s.social == 0" [src]="s.photo ? web.url + '/upload/user/' + s.photo : 'assets/imgs/profile.jpg'" />
        <img *ngIf="s.social == 1" [src]="s.photo" />
      </ion-avatar>

      <h2>{{s.name}}</h2>
      <p>{{s.date}} {{s.time}} - {{s.services}}</p>
    </ion-item>
  </ion-list>
</ion-content>
